<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://bshbets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>bshbets.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bshbets</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$bshbets</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FoozballBetsEntities4" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FoozballBets.Models.FoozballBetsEntities4, FoozballBets" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FoozballBetsEntities1" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FoozballBets.mdf;Initial Catalog=FoozballBets;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoozballBetsEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.FoozballBetsDatabase.csdl|res://*/Models.FoozballBetsDatabase.ssdl|res://*/Models.FoozballBetsDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\FoozballBets.mdf;initial catalog=FoozballBets;integrated security=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FoozballBetsEntities2" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FoozballBets.mdf;Initial Catalog=FoozballBets;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoozballBetsEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.FoosballBetsDatabase2.csdl|res://*/Models.FoosballBetsDatabase2.ssdl|res://*/Models.FoosballBetsDatabase2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\FoozballBets.mdf;initial catalog=FoozballBets;integrated security=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FoozballBetsEntities3" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FoozballBets.mdf;Initial Catalog=FoozballBets;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoozballBetsEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.FoosBallDB.csdl|res://*/Models.FoosBallDB.ssdl|res://*/Models.FoosBallDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\FoozballBets.mdf;initial catalog=FoozballBets;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FoozballBetsEntities" Order="5" Enabled="True">
          <Destination Path="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FoozballBets.mdf;Initial Catalog=FoozballBets;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FoozballBetsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.FoozballBetsDB.csdl|res://*/Models.FoozballBetsDB.ssdl|res://*/Models.FoozballBetsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\FoozballBets.mdf;initial catalog=FoozballBets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="True">
          <Destination Path="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FoozballBets.mdf;Initial Catalog=FoozballBets;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=FoozballBets;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\FoozballBets.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoozballBetsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FoozballBetsDB.csdl|res://*/Models.FoozballBetsDB.ssdl|res://*/Models.FoozballBetsDB.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:gxbz8rvto8.database.windows.net,1433;initial catalog=foosbalA28Ocu5OO;user id=betsbsh@gxbz8rvto8;password=BSH123bsh;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoozballBetsEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FoozballBetsDatabase.csdl|res://*/Models.FoozballBetsDatabase.ssdl|res://*/Models.FoozballBetsDatabase.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoozballBetsEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FoosballBetsDatabase2.csdl|res://*/Models.FoosballBetsDatabase2.ssdl|res://*/Models.FoosballBetsDatabase2.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:gxbz8rvto8.database.windows.net,1433;initial catalog=foosbalA28Ocu5OO;user id=betsbsh@gxbz8rvto8;password=BSH123bsh;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoozballBetsEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FoosBallDB.csdl|res://*/Models.FoosBallDB.ssdl|res://*/Models.FoosBallDB.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:gxbz8rvto8.database.windows.net,1433;initial catalog=foosbalA28Ocu5OO;user id=betsbsh@gxbz8rvto8;password=BSH123bsh;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FoozballBetsEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FoosballDB.csdl|res://*/Models.FoosballDB.ssdl|res://*/Models.FoosballDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:gxbz8rvto8.database.windows.net,1433;Initial Catalog=foosbalA28Ocu5OO;User ID=betsbsh@gxbz8rvto8;Password=BSH123bsh"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>